<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
</head>
<body>
        <div class="container px-4 px-lg-5 my-5" style="color: #FFFFFF; width: 100%;">
            <div class="row gx-4 gx-lg-5 align-items-center" style="padding-bottom: 0px;">
                <div class="col-md-6"><img [src]="produto?.imagemUrl" alt="{{ produto?.nome }}" class="card-img-top mb-5 mb-md-0" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ produto?.nome }}</h1>
                    <div class="small mb-1">CÓD: {{ produto?.id }}</div>
                    
                    <div class="fs-5 mb-5">
                        <span> R${{ produto?.preco?.toFixed(2) }} </span>
                    </div>
                    <p class="lead">{{ produto?.descricao }}</p>
                    <div class="d-flex">
                        <a class="btn btn-success adicionarcarrinho" (click)="adicionarAoCarrinho()">
                            Adicionar ao Carrinho
                        </a>
                        <p></p> 
                    </div>
                    <div *ngIf="produtoAdicionadoAoCarrinho" class="alert alerta mt-3">
                        Produto adicionado ao carrinho!
                    </div>
                    

                    <div class="center-button">
                        <a routerLink="/carrinho" class="btn ircarrinho">Ir para o Carrinho</a>
                    </div> 
                    <br>
                    <a href="/vitrine" style="color: antiquewhite;"> Voltar à vitrine </a>
                    <br><br>
                </div>
            </div>
        </div>
</body>

</html>
